*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# ignore large files 
model_endpoint/docker_assets/*
model_endpoint/runtime/serving_api/custom_lambda_utils/model_artifacts/*
*.zip
*.tar.gz
